<h1>{{ name }}</h1>
<h3>Precio: {{price}}</h3>

<img src="{{ img }}" alt="">

<button class="product__add_to_cart"
  data-img="{{ img }}"
  data-name="{{ name }}"
  data-price="{{ price }}"
  data-id="{{ _id }}">
  Agregar al carrito
</button>